{% extends 'main.html' %}


{% block content %}


<div class="home-card ">
    <a href="/selectRoom">Go Back</a>
    <h1>Hello, {{ request.user }}! You are in room {{ room.name }} </h1>
    <div class="message-card" >
        {% for message in messagesList reversed%}
        <div class="message-card-single">
            {% if ".png" in message.text %}
            <div class="message-card-single-message">
                <img src="/media/{{ message.text}}">
            </div>
            {% else %}
            <div class="message-card-single-message">{{ message.text }}</div>
            {% endif %}
        </div>
        <div class="single-message">
            <div class="fake-icon">
                <button class="fake-button"></button>
            </div>
            <div class="message-card-single-user"><span>{{ message.user }}</span></div>
        </div>
        {% endfor %}
    </div>

    <div class="message-creation">
        <form id='form' class='message-sending' method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <input id="id_docfile" type="file" name="docfile"/>
            <input type="text" name="msg" placeholder="Type message" />
            <button type="submit">SEND</button>
        </form>
    </div>
</div>

{% endblock%}